@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Poller One', cursive;
    background-image: url('./Images/sky.jpg');
    color: #eedb00;
    /* Фиксация фона */
    background-attachment: fixed;
}