h1{
    font-family: sans-serif;
    text-transform: uppercase;
    color: gray;
}


table {
    border-collapse: collapse;
    width: 100%;
}


th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
}


td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}


tr:hover {
    background-color: #c2f5f5;
}