.app {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

.board {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin-top: 20px;
}

.square {
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 24px;
    font-weight: bold;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: background-color .2s, color .2s;
}

.square:hover {
    background-color: #f5f5f5;
    color: #ba8602;
}

.result {
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
}

.restart-button {
    background-color: #007bff;
    transition: background-color .2s;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.restart-button:hover {
    background-color: #0056b3;
}